html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: 1rem;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;


  @include xs-min {
    font-size: 3rem;
    margin: (-$gap / 2) 0 ($gap * 3);
  }

  @include xs {
    font-size: 2rem;
    margin: 0 0 ($gap * 2);
  }
}
h1::after{
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2 {
  font-family: $font-header;
}
h2::after{
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}
h2::before{
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0 ;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

